.friend {
    padding-top: 5px;
    display: flex;
    justify-content: center;
}
.friendAvatar {
    width: 60px;
    border-radius: 20px;
}

.friendName {
    color: #27005D;
    text-align: center;
}
