.nav {
    grid-area: n;
    background-color: #F1EAFF;
    padding: 10px;
}

.item {
    padding: 5px 0 0 5px;
    color: white;
}

.item a {
    text-decoration: none;
    color: #27005D;
}

.item a:hover {
    color: #79155B;
}

.item a.active {
    color: black;
}
