@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Russo+One&display=swap');


.footer {
    grid-area: f;
    display: flex;
    background-color: #c0d0fb;
    justify-content: center;
    align-items: center;
    font-family: 'Bowlby One SC', sans-serif;
    font-size: 22px;
}
.footerInfo {
    padding-top: 2px;
}
.footerImage {
    width: 150px;
    padding: 10px;
}